<html>
    <head>
		<title>Manage Account</title>
    </head>

	{% if categories.count == 0 %}
		<div><h2> You have no category right now </h2></div>
	{% else %}
		<div><h2> Your categories and items: <h2></div>
	{% endif %}

	{% for category in categories %}
		<form action="/manage" method="get">
			<!--<span>Add a new item:</span>
			<input type="text" name="new_item"> -->
			<span>{{category.cat_name}}:</span>
			<input type="hidden" name="edit" value="on">
			<input type="hidden" name="category" value="{{category.cat_name}}">
			<input type="submit" value="Edit"> 
		</form>		
		<ul type='square'>
			{% for item in category.items %}
				<div><li> {{item}} </li></div>
			{% endfor %}
		</ul>
	{% endfor %}
		
	<br>
	
	<form action="/manage" method="get">
		<div>Add a new category:</div> 
		<input type="text" name="new_cat">
        <input type="submit" value="Add Category">
    </form>
		
	<br>
	<hr align=left width=30%>
    <ul type='square'>
      <li>Back to <a href='/'> Home </a></li>
	  <li><a href="{{logout_url}}"> Sign out </a></li>
    </ul>
	
</html>